venv/
ENV/
env/
__pycache__/
*.pyc
*.pyo
*$py.class

.git/
.gitignore

.env
.env.dev
.env.prod
!.env.example

*.sqlite3
*.db

project/staticfiles/
project/mediafiles/
mediafiles/
staticfiles/

*.log
logs/

.vscode/
.idea/
.DS_Store


usage.md